
<web-app  version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<servlet-class>com.myblog.HelloServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>user</servlet-name>
  	<servlet-class>com.myblog.servlet.UserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>user</servlet-name>
  	<url-pattern>/user/*</url-pattern>
  </servlet-mapping>
</web-app>
